
/*
    Created on : 18/06/2015, 17:31:53
    Author     : gilmario
*/

body {
    padding-top: 70px;
    padding-bottom: 30px;
    background: white;

}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.artigo {
    padding-top: 50px;
    padding-bottom: 20px;
}

p{
    text-align: justify;
    transition-duration: 1s;
}

.artigo p:hover{
    background: #dddddd;
    color: black;
    transition-duration: 1s;
}

.menu :hover{
    /*color: white !important;*/
    text-shadow: 0px 3px 4px #FFF, 3px 0px 4px #FFF, -3px 0px 4px #FFF, 0px -3px 4px #FFF !important;
}



